 test:
   build: .
   env_file:
     - .env
   volumes:
     - .:/app
   environment:
     - PYTHONPATH=/app/backend
   depends_on:
     - db
   command: poetry run pytest --ds=configs.settings -vv --reuse-db